USE [master]
GO
/****** Object:  Database [TicketBuy]    Script Date: 07/05/2023 16:37:46 ******/
CREATE DATABASE [TicketBuy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketBuy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDB\MSSQL\DATA\TicketBuy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketBuy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDB\MSSQL\DATA\TicketBuy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketBuy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketBuy]
GO
/****** Object:  Table [dbo].[Tbl_Flights]    Script Date: 07/05/2023 16:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Flights](
	[flightId] [int] IDENTITY(1,1) NOT NULL,
	[flightLine] [int] NULL,
	[flightTime] [varchar](5) NULL,
	[flightPrice] [decimal](18, 2) NULL,
	[flightNo] [varchar](8) NULL,
	[CaptainName] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Flights] PRIMARY KEY CLUSTERED 
(
	[flightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Lines]    Script Date: 07/05/2023 16:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Lines](
	[lineId] [int] IDENTITY(1,1) NOT NULL,
	[lineFrom] [varchar](20) NULL,
	[lineTo] [varchar](20) NULL,
	[lineDate] [varchar](12) NULL,
	[flightNumber] [tinyint] NULL,
 CONSTRAINT [PK_Tbl_Lines] PRIMARY KEY CLUSTERED 
(
	[lineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Seats]    Script Date: 07/05/2023 16:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Seats](
	[seatId] [int] IDENTITY(1,1) NOT NULL,
	[flightId] [int] NULL,
	[seatNumber] [tinyint] NULL,
	[pessengerName] [varchar](30) NULL,
	[pessengerSurname] [varchar](30) NULL,
	[passportNumber] [varchar](20) NULL,
 CONSTRAINT [PK_Tbl_Seats] PRIMARY KEY CLUSTERED 
(
	[seatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Flights]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Flights_Tbl_Lines] FOREIGN KEY([flightLine])
REFERENCES [dbo].[Tbl_Lines] ([lineId])
GO
ALTER TABLE [dbo].[Tbl_Flights] CHECK CONSTRAINT [FK_Tbl_Flights_Tbl_Lines]
GO
ALTER TABLE [dbo].[Tbl_Seats]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Seats_Tbl_Flights] FOREIGN KEY([flightId])
REFERENCES [dbo].[Tbl_Flights] ([flightId])
GO
ALTER TABLE [dbo].[Tbl_Seats] CHECK CONSTRAINT [FK_Tbl_Seats_Tbl_Flights]
GO
USE [master]
GO
