USE [master]
GO
/****** Object:  Database [ProductChase]    Script Date: 06/05/2023 23:53:33 ******/
CREATE DATABASE [ProductChase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductChase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDB\MSSQL\DATA\ProductChase.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductChase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDB\MSSQL\DATA\ProductChase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductChase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductChase]
GO
/****** Object:  Table [dbo].[TBLCATEGORY]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCATEGORY](
	[CATEGORYID] [tinyint] IDENTITY(1,1) NOT NULL,
	[CATEGORYNAME] [varchar](50) NULL,
	[USERID] [int] NULL,
	[INACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK__TBLCATEG__A50F989649E37C3B] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCITIES]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCITIES](
	[CITYID] [int] IDENTITY(1,1) NOT NULL,
	[CITYNAME] [varchar](20) NULL,
 CONSTRAINT [PK_TBLCITIES] PRIMARY KEY CLUSTERED 
(
	[CITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCLIENTS]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCLIENTS](
	[CLIENTID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENTNAME] [varchar](50) NULL,
	[CLIENTSURNAME] [varchar](50) NULL,
	[CLIENTCITY] [int] NULL,
	[CLIENTMOBILE] [varchar](12) NULL,
	[CLIENTEMAIL] [varchar](50) NULL,
	[CLIENTBALANCE] [decimal](18, 2) NULL,
	[USERID] [int] NULL,
	[INACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK__TBLCLIEN__8E7CE206750A2CA1] PRIMARY KEY CLUSTERED 
(
	[CLIENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLEMPLOYEE]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLEMPLOYEE](
	[EMPLOYEEID] [smallint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEENAME] [varchar](50) NULL,
	[USERID] [int] NULL,
	[INACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK__TBLEMPLO__8F06515B41A6E4CF] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMOVEMENT]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMOVEMENT](
	[MOVEMENTID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT] [int] NULL,
	[CLIENT] [int] NULL,
	[EMPLOYEE] [smallint] NULL,
	[QUANTITY] [int] NULL,
	[COST] [decimal](18, 2) NULL,
	[SELLDATE] [date] NULL,
	[USERID] [int] NULL,
 CONSTRAINT [PK__TBLMOVEM__910C040892B198BB] PRIMARY KEY CLUSTERED 
(
	[MOVEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLPRODUCTS]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLPRODUCTS](
	[PRODUCTID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTNAME] [varchar](50) NULL,
	[PRODUCTBRAND] [varchar](50) NULL,
	[CATEGORY] [tinyint] NULL,
	[PRODUCTCOST] [decimal](18, 2) NULL,
	[PRODUCTPRICE] [decimal](18, 2) NULL,
	[PRODUCTSTOCK] [smallint] NULL,
	[PRODUCTSTATUS] [bit] NULL,
	[USERID] [int] NULL,
	[INACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK__TBLPRODU__34980AA2FAF3E118] PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLUSERS]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLUSERS](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](20) NULL,
	[PASS] [varchar](20) NULL,
	[NAME] [varchar](20) NULL,
	[SURNAME] [varchar](20) NULL,
 CONSTRAINT [PK_TBLUSERS] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLCLIENTS] ADD  CONSTRAINT [DF_TBLCLIENTS_CLIENTBALANCE]  DEFAULT ('0.00') FOR [CLIENTBALANCE]
GO
ALTER TABLE [dbo].[TBLPRODUCTS] ADD  CONSTRAINT [DF__TBLPRODUC__PRODU__3A81B327]  DEFAULT ('1') FOR [PRODUCTSTATUS]
GO
ALTER TABLE [dbo].[TBLCATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_TBLCATEGORY_TBLUSERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[TBLUSERS] ([USERID])
GO
ALTER TABLE [dbo].[TBLCATEGORY] CHECK CONSTRAINT [FK_TBLCATEGORY_TBLUSERS]
GO
ALTER TABLE [dbo].[TBLCLIENTS]  WITH CHECK ADD  CONSTRAINT [FK_TBLCLIENTS_TBLCITIES] FOREIGN KEY([CLIENTCITY])
REFERENCES [dbo].[TBLCITIES] ([CITYID])
GO
ALTER TABLE [dbo].[TBLCLIENTS] CHECK CONSTRAINT [FK_TBLCLIENTS_TBLCITIES]
GO
ALTER TABLE [dbo].[TBLCLIENTS]  WITH CHECK ADD  CONSTRAINT [FK_TBLCLIENTS_TBLUSERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[TBLUSERS] ([USERID])
GO
ALTER TABLE [dbo].[TBLCLIENTS] CHECK CONSTRAINT [FK_TBLCLIENTS_TBLUSERS]
GO
ALTER TABLE [dbo].[TBLEMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_TBLEMPLOYEE_TBLUSERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[TBLUSERS] ([USERID])
GO
ALTER TABLE [dbo].[TBLEMPLOYEE] CHECK CONSTRAINT [FK_TBLEMPLOYEE_TBLUSERS]
GO
ALTER TABLE [dbo].[TBLMOVEMENT]  WITH CHECK ADD  CONSTRAINT [FK_TBLMOVEMENT_TBLCLIENTS] FOREIGN KEY([CLIENT])
REFERENCES [dbo].[TBLCLIENTS] ([CLIENTID])
GO
ALTER TABLE [dbo].[TBLMOVEMENT] CHECK CONSTRAINT [FK_TBLMOVEMENT_TBLCLIENTS]
GO
ALTER TABLE [dbo].[TBLMOVEMENT]  WITH CHECK ADD  CONSTRAINT [FK_TBLMOVEMENT_TBLEMPLOYEE] FOREIGN KEY([EMPLOYEE])
REFERENCES [dbo].[TBLEMPLOYEE] ([EMPLOYEEID])
GO
ALTER TABLE [dbo].[TBLMOVEMENT] CHECK CONSTRAINT [FK_TBLMOVEMENT_TBLEMPLOYEE]
GO
ALTER TABLE [dbo].[TBLMOVEMENT]  WITH CHECK ADD  CONSTRAINT [FK_TBLMOVEMENT_TBLPRODUCTS] FOREIGN KEY([PRODUCT])
REFERENCES [dbo].[TBLPRODUCTS] ([PRODUCTID])
GO
ALTER TABLE [dbo].[TBLMOVEMENT] CHECK CONSTRAINT [FK_TBLMOVEMENT_TBLPRODUCTS]
GO
ALTER TABLE [dbo].[TBLMOVEMENT]  WITH CHECK ADD  CONSTRAINT [FK_TBLMOVEMENT_TBLUSERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[TBLUSERS] ([USERID])
GO
ALTER TABLE [dbo].[TBLMOVEMENT] CHECK CONSTRAINT [FK_TBLMOVEMENT_TBLUSERS]
GO
ALTER TABLE [dbo].[TBLPRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_TBLPRODUCTS_TBLCATEGORY] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[TBLCATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[TBLPRODUCTS] CHECK CONSTRAINT [FK_TBLPRODUCTS_TBLCATEGORY]
GO
ALTER TABLE [dbo].[TBLPRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_TBLPRODUCTS_TBLUSERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[TBLUSERS] ([USERID])
GO
ALTER TABLE [dbo].[TBLPRODUCTS] CHECK CONSTRAINT [FK_TBLPRODUCTS_TBLUSERS]
GO
ALTER TABLE [dbo].[TBLPRODUCTS]  WITH CHECK ADD  CONSTRAINT [CHK_PRODUCTSTOCK] CHECK  (([PRODUCTSTOCK]>=(0)))
GO
ALTER TABLE [dbo].[TBLPRODUCTS] CHECK CONSTRAINT [CHK_PRODUCTSTOCK]
GO
/****** Object:  StoredProcedure [dbo].[BEST_CITY]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BEST_CITY]
AS
select CITYNAME AS 'CITY',
CONCAT('£',FORMAT(SUM(CLIENTBALANCE),'N2')) AS 'TOTAL PURCHASE'
from TBLCLIENTS
INNER JOIN TBLCITIES
ON TBLCLIENTS.CLIENTCITY = TBLCITIES.CITYID
GROUP BY CITYNAME ORDER BY SUM(CLIENTBALANCE) DESC
GO
/****** Object:  StoredProcedure [dbo].[BEST_CLIENT]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BEST_CLIENT]
AS
select CLIENTNAME AS 'CLIENT NAME',CLIENTSURNAME AS 'CLIENT SURNAME',CITYNAME AS 'CITY',CLIENTMOBILE AS 'MOBILE NUMBER', CLIENTEMAIL AS 'E-MAIL',
SUM(QUANTITY) AS'TOTAL QUANTITY'
from TBLCLIENTS
INNER JOIN TBLCITIES
ON TBLCLIENTS.CLIENTCITY = TBLCITIES.CITYID
INNER JOIN TBLMOVEMENT
ON TBLCLIENTS.CLIENTID=TBLMOVEMENT.CLIENT
GROUP BY CLIENTNAME,CLIENTSURNAME,CITYNAME,CLIENTMOBILE, CLIENTEMAIL ORDER BY  SUM(QUANTITY) DESC
GO
/****** Object:  StoredProcedure [dbo].[BEST_EMPLOYEE]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BEST_EMPLOYEE]
AS
SELECT EMPLOYEENAME AS 'EMPLOYEE NAME',SUM(QUANTITY) AS 'QUANTITY' FROM TBLMOVEMENT
INNER JOIN TBLPRODUCTS
ON TBLMOVEMENT.PRODUCT = TBLPRODUCTS.PRODUCTID
INNER JOIN TBLEMPLOYEE
ON TBLMOVEMENT.EMPLOYEE=TBLEMPLOYEE.EMPLOYEEID
GROUP BY EMPLOYEENAME ORDER BY  SUM(QUANTITY) DESC
GO
/****** Object:  StoredProcedure [dbo].[BEST_SELLER]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BEST_SELLER]
AS
SELECT TOP 1 PRODUCTNAME AS 'PRODUCT NAME',SUM(QUANTITY) AS 'QUANTITY' FROM TBLMOVEMENT
INNER JOIN TBLPRODUCTS
ON TBLMOVEMENT.PRODUCT = TBLPRODUCTS.PRODUCTID
GROUP BY PRODUCTNAME ORDER BY  SUM(QUANTITY) DESC
GO
/****** Object:  StoredProcedure [dbo].[BEST_SELLER_CAT]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BEST_SELLER_CAT]
AS
SELECT TOP 1 CATEGORYNAME AS 'CATEGORY' ,SUM(QUANTITY) AS 'QUANTITY' FROM TBLMOVEMENT
INNER JOIN TBLPRODUCTS
ON TBLMOVEMENT.PRODUCT = TBLPRODUCTS.PRODUCTID
INNER JOIN TBLCATEGORY
ON TBLPRODUCTS.CATEGORY=TBLCATEGORY.CATEGORYID
GROUP BY CATEGORYNAME ORDER BY  SUM(QUANTITY) DESC
GO
/****** Object:  StoredProcedure [dbo].[CLIENT_BALANCE_DESC]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CLIENT_BALANCE_DESC]
AS
select CLIENTID AS 'CLIENT ID', CLIENTNAME AS 'CLIENT NAME', CLIENTSURNAME AS 'CLIENT SURNAME',CITYNAME AS 'CITY',CLIENTMOBILE AS 'MOBILE NUMBER', CLIENTEMAIL AS 'E-MAIL',
CONCAT('£',FORMAT(CLIENTBALANCE,'N2')) AS 'BALANCE'
from TBLCLIENTS
INNER JOIN TBLCITIES
ON TBLCLIENTS.CLIENTCITY = TBLCITIES.CITYID
WHERE CLIENTBALANCE>0 ORDER BY CLIENTBALANCE DESC 
GO
/****** Object:  StoredProcedure [dbo].[LIST_CATEGORY]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LIST_CATEGORY]
AS
Select CATEGORYID as 'CATEGORY ID',CATEGORYNAME AS 'CATEGORY NAME',USERID,TBLCATEGORY.INACTIVE from TBLCATEGORY
GO
/****** Object:  StoredProcedure [dbo].[LIST_CATEGORY_WITH_ACTIVE]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LIST_CATEGORY_WITH_ACTIVE]
AS
Select CATEGORYID as 'CATEGORY ID',CATEGORYNAME AS 'CATEGORY NAME',USERID,TBLCATEGORY.INACTIVE 
from TBLCATEGORY
WHERE TBLCATEGORY.INACTIVE = 0
GO
/****** Object:  StoredProcedure [dbo].[LIST_CLIENT_ACTIVE]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LIST_CLIENT_ACTIVE]
AS
select clientid as 'CLIENT ID', CLIENTNAME AS 'CLIENT NAME', CLIENTSURNAME AS 'CLIENT SURNAME',CITYNAME AS 'CITY',CLIENTMOBILE AS 'MOBILE NUMBER', CLIENTEMAIL AS 'E-MAIL',
CONCAT('£',FORMAT(CLIENTBALANCE,'N2')) AS 'BALANCE',USERID, TBLCLIENTS.INACTIVE
from TBLCLIENTS
INNER JOIN TBLCITIES
ON TBLCLIENTS.CLIENTCITY = TBLCITIES.CITYID
WHERE TBLCLIENTS.INACTIVE = 0
GO
/****** Object:  StoredProcedure [dbo].[LIST_CLIENTFILTER_ACTIVE]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LIST_CLIENTFILTER_ACTIVE]
@P1 varchar(20)
AS
select clientid as 'CLIENT ID', CLIENTNAME AS 'CLIENT NAME', CLIENTSURNAME AS 'CLIENT SURNAME',CITYNAME AS 'CITY',CLIENTMOBILE AS 'MOBILE NUMBER', CLIENTEMAIL AS 'E-MAIL', 
CONCAT('£',FORMAT(CLIENTBALANCE,'N2')) AS 'BALANCE',USERID, TBLCLIENTS.INACTIVE
from TBLCLIENTS
INNER JOIN TBLCITIES
ON TBLCLIENTS.CLIENTCITY = TBLCITIES.CITYID
where CITYNAME = @P1
AND TBLCLIENTS.INACTIVE = 0
GO
/****** Object:  StoredProcedure [dbo].[LIST_EMOLOYEE]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LIST_EMOLOYEE]
AS
Select EMPLOYEEID,EMPLOYEENAME,USERID,TBLEMPLOYEE.INACTIVE from TBLEMPLOYEE
GO
/****** Object:  StoredProcedure [dbo].[LIST_EMOLOYEE_ACTIVE]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LIST_EMOLOYEE_ACTIVE]
AS
Select EMPLOYEEID,EMPLOYEENAME,USERID,TBLEMPLOYEE.INACTIVE from TBLEMPLOYEE WHERE TBLEMPLOYEE.INACTIVE=0
GO
/****** Object:  StoredProcedure [dbo].[LIST_PRODUCTFILTER_WITH_ACTIVE]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LIST_PRODUCTFILTER_WITH_ACTIVE]
@P1 varchar(50)
AS
select PRODUCTID as 'PRODUCT ID',PRODUCTNAME as 'PRODUCT NAME' ,PRODUCTBRAND as 'BRAND',CATEGORYNAME as 'CATEGORY',
CONCAT('£', FORMAT(PRODUCTCOST, 'N2')) AS 'COST',
CONCAT('£', FORMAT(PRODUCTPRICE, 'N2')) AS 'PRICE',
PRODUCTSTOCK as 'STOCK LEVEL',
CASE
        WHEN PRODUCTSTATUS = 1 THEN 'In Stock'
        ELSE 'Out of Stock'
    END AS 'STATUS', TBLPRODUCTS.USERID,TBLPRODUCTS.INACTIVE
from TBLPRODUCTS 
inner join TBLCATEGORY
on TBLPRODUCTS.CATEGORY = TBLCATEGORY.CATEGORYID
where CATEGORYNAME = @p1 and TBLPRODUCTS.INACTIVE = 0
GO
/****** Object:  StoredProcedure [dbo].[LIST_PRODUCTS_ACTIVE]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LIST_PRODUCTS_ACTIVE]
AS
select PRODUCTID as 'PRODUCT ID',PRODUCTNAME as 'PRODUCT NAME' ,PRODUCTBRAND as 'BRAND',CATEGORYNAME as 'CATEGORY',
CONCAT('£', FORMAT(PRODUCTCOST, 'N2')) AS 'COST',
CONCAT('£', FORMAT(PRODUCTPRICE, 'N2')) AS 'PRICE',
PRODUCTSTOCK as 'STOCK LEVEL',
CASE
        WHEN PRODUCTSTATUS = 1 THEN 'In Stock'
        ELSE 'Out of Stock'
    END AS 'STATUS',TBLPRODUCTS.USERID,TBLPRODUCTS.INACTIVE
from TBLPRODUCTS 
inner join TBLCATEGORY
on TBLPRODUCTS.CATEGORY = TBLCATEGORY.CATEGORYID
WHERE TBLPRODUCTS.INACTIVE = 0
GO
/****** Object:  StoredProcedure [dbo].[LISTCLIENT]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTCLIENT]
AS
select clientid as 'CLIENT ID', CLIENTNAME AS 'CLIENT NAME', CLIENTSURNAME AS 'CLIENT SURNAME',CITYNAME AS 'CITY',CLIENTMOBILE AS 'MOBILE NUMBER', CLIENTEMAIL AS 'E-MAIL',
CONCAT('£',FORMAT(CLIENTBALANCE,'N2')) AS 'BALANCE',USERID, TBLCLIENTS.INACTIVE
from TBLCLIENTS
INNER JOIN TBLCITIES
ON TBLCLIENTS.CLIENTCITY = TBLCITIES.CITYID
GO
/****** Object:  StoredProcedure [dbo].[LISTCLIENTWITHFILTER]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTCLIENTWITHFILTER]
@P1 varchar(20)
AS
select clientid as 'CLIENT ID', CLIENTNAME AS 'CLIENT NAME', CLIENTSURNAME AS 'CLIENT SURNAME',CITYNAME AS 'CITY',CLIENTMOBILE AS 'MOBILE NUMBER', CLIENTEMAIL AS 'E-MAIL', 
CONCAT('£',FORMAT(CLIENTBALANCE,'N2')) AS 'BALANCE',USERID , TBLCLIENTS.INACTIVE
from TBLCLIENTS
INNER JOIN TBLCITIES
ON TBLCLIENTS.CLIENTCITY = TBLCITIES.CITYID
where CITYNAME = @P1
GO
/****** Object:  StoredProcedure [dbo].[LISTMOVEMENT]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTMOVEMENT]
AS
SELECT MOVEMENTID AS 'ID', PRODUCTNAME AS 'PRODUCT NAME',PRODUCTBRAND AS'BRAND',CATEGORYNAME AS 'CATEGORY NAME', CLIENTNAME+' '+CLIENTSURNAME AS 'CLIENT',EMPLOYEENAME AS 'EMPLOYEE', QUANTITY AS 'QTY', 
CONCAT('£',FORMAT(COST,'N2')) AS 'COST',
SELLDATE AS 'DATE',TBLMOVEMENT.USERID
FROM TBLMOVEMENT
INNER JOIN TBLPRODUCTS
ON TBLMOVEMENT.PRODUCT=TBLPRODUCTS.PRODUCTID
INNER JOIN TBLCLIENTS
ON TBLMOVEMENT.CLIENT=TBLCLIENTS.CLIENTID
INNER JOIN TBLEMPLOYEE
ON TBLMOVEMENT.EMPLOYEE = TBLEMPLOYEE.EMPLOYEEID
INNER JOIN TBLCATEGORY
ON TBLPRODUCTS.CATEGORY = TBLCATEGORY.CATEGORYID
GO
/****** Object:  StoredProcedure [dbo].[LISTPRODUCTS]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTPRODUCTS]
AS
select PRODUCTID as 'PRODUCT ID',PRODUCTNAME as 'PRODUCT NAME' ,PRODUCTBRAND as 'BRAND',CATEGORYNAME as 'CATEGORY',
CONCAT('£', FORMAT(PRODUCTCOST, 'N2')) AS 'COST',
CONCAT('£', FORMAT(PRODUCTPRICE, 'N2')) AS 'PRICE',
PRODUCTSTOCK as 'STOCK LEVEL',
CASE
        WHEN PRODUCTSTATUS = 1 THEN 'In Stock'
        ELSE 'Out of Stock'
    END AS 'STATUS', TBLPRODUCTS.USERID ,TBLPRODUCTS.INACTIVE
from TBLPRODUCTS 
inner join TBLCATEGORY
on TBLPRODUCTS.CATEGORY = TBLCATEGORY.CATEGORYID
GO
/****** Object:  StoredProcedure [dbo].[LISTPRODUCTSWITHFILTER]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LISTPRODUCTSWITHFILTER]
@P1 varchar(50)
AS
select PRODUCTID as 'PRODUCT ID',PRODUCTNAME as 'PRODUCT NAME' ,PRODUCTBRAND as 'BRAND',CATEGORYNAME as 'CATEGORY',
CONCAT('£', FORMAT(PRODUCTCOST, 'N2')) AS 'COST',
CONCAT('£', FORMAT(PRODUCTPRICE, 'N2')) AS 'PRICE',
PRODUCTSTOCK as 'STOCK LEVEL',
CASE
        WHEN PRODUCTSTATUS = 1 THEN 'In Stock'
        ELSE 'Out of Stock'
    END AS 'STATUS',TBLPRODUCTS.USERID ,TBLPRODUCTS.INACTIVE
from TBLPRODUCTS 
inner join TBLCATEGORY
on TBLPRODUCTS.CATEGORY = TBLCATEGORY.CATEGORYID
where CATEGORYNAME = @p1
GO
/****** Object:  StoredProcedure [dbo].[MOVEMENT_SEARCH]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MOVEMENT_SEARCH]
@startdate date, @enddate date
AS
SELECT MOVEMENTID AS 'ID', PRODUCTNAME AS 'PRODUCT NAME',PRODUCTBRAND AS'BRAND',CATEGORYNAME AS 'CATEGORY NAME', CLIENTNAME+' '+CLIENTSURNAME AS 'CLIENT',EMPLOYEENAME AS 'EMPLOYEE', QUANTITY AS 'QTY', 
CONCAT('£',FORMAT(COST,'N2')) AS 'COST',
SELLDATE AS 'DATE',TBLMOVEMENT.USERID
FROM TBLMOVEMENT
INNER JOIN TBLPRODUCTS
ON TBLMOVEMENT.PRODUCT=TBLPRODUCTS.PRODUCTID
INNER JOIN TBLCLIENTS
ON TBLMOVEMENT.CLIENT=TBLCLIENTS.CLIENTID
INNER JOIN TBLEMPLOYEE
ON TBLMOVEMENT.EMPLOYEE = TBLEMPLOYEE.EMPLOYEEID
INNER JOIN TBLCATEGORY
ON TBLPRODUCTS.CATEGORY = TBLCATEGORY.CATEGORYID
WHERE SELLDATE BETWEEN @startdate and @enddate
GO
/****** Object:  StoredProcedure [dbo].[OUT_OF_STOCK]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OUT_OF_STOCK]
AS
select PRODUCTID as 'PRODUCT ID',PRODUCTNAME as 'PRODUCT NAME' ,PRODUCTBRAND as 'BRAND',CATEGORYNAME as 'CATEGORY',
PRODUCTSTOCK as 'STOCK LEVEL',
CASE 
	WHEN PRODUCTSTOCK BETWEEN 0 AND 5 THEN 'CRITICAL LEVEL'
	--WHEN PRODUCTSTOCK BETWEEN 5 AND 10 THEN 'MID STOCK LEVEL'
	ELSE 'FINE STOCK LEVEL'
	END AS 'STOCK ALERT',
CASE
        WHEN PRODUCTSTATUS = 1 THEN 'In Stock'
        ELSE 'Out of Stock'
    END AS 'STATUS'
from TBLPRODUCTS 
inner join TBLCATEGORY
on TBLPRODUCTS.CATEGORY = TBLCATEGORY.CATEGORYID
WHERE PRODUCTSTATUS = 0
GO
/****** Object:  StoredProcedure [dbo].[STOCK_ALERT]    Script Date: 06/05/2023 23:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STOCK_ALERT]
AS
select PRODUCTID as 'PRODUCT ID',PRODUCTNAME as 'PRODUCT NAME' ,PRODUCTBRAND as 'BRAND',CATEGORYNAME as 'CATEGORY',
PRODUCTSTOCK as 'STOCK LEVEL',
CASE 
	WHEN PRODUCTSTOCK BETWEEN 0 AND 5 THEN 'CRITICAL LEVEL'
	--WHEN PRODUCTSTOCK BETWEEN 5 AND 10 THEN 'MID STOCK LEVEL'
	ELSE 'FINE STOCK LEVEL'
	END AS 'STOCK ALERT',
CASE
        WHEN PRODUCTSTATUS = 1 THEN 'In Stock'
        ELSE 'Out of Stock'
    END AS 'STATUS'
from TBLPRODUCTS 
inner join TBLCATEGORY
on TBLPRODUCTS.CATEGORY = TBLCATEGORY.CATEGORYID
WHERE 0 <PRODUCTSTOCK AND PRODUCTSTOCK < 6
GO
USE [master]
GO
